{% extends "budget_app/base.html" %}

{% block title %}Budget records{% endblock %}
{% load crispy_forms_tags %}

{% block content %}

    Add budget record:
        <form method="POST" class="form-group">
            {% csrf_token %}
            {{ record_form|crispy }}
            <button type="submit" class="btn btn-success">Add Record</button>
        </form>
    </br>
    {% if records %}
        <table class="table table-striped table-hover">
            <tr>
                <th>Record Name</th>
                <th>Value</th>
                <th></th>
                <th></th>
            </tr>
            {% for record in records %}
                <tr>
                    <td>{{record.name}}</td>
                    <td>{{record.value}}</td>
                    <td></td>
                   <td align="left">
                        <a href="{% url 'delete-record' record.id %}" class="btn btn-danger btn-sm">
                            Delete</a>
                    </td>
                </tr>
            {% endfor %}
        </table>

    {% else %}
        No records!
    {% endif %}
{% endblock %}
